@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: iransans;
    src: '@/assets/font/IRANSansWeb(FaNum).woff2';
}


body {
    font-family: iransans;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  /* Scrollbar Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  /* Scrollbar Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  /* Scrollbar Handle on Hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }